doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    block content

block content
  h1= title
  p Welcome to #{title}

#aespa 
  ul 
    each artist in  aespa
      li= artist

style. 
  h1{
      font-size: 24px;
      color: 'red';
  }

script.
  const message ='Pug'; 
  alert(message);